In [ ]:
# 50 assignments python - solution

# 1

Once upon a time in Pakistan, ahmad had ali apples, hammad had five apples, and Adam had six apples. They were all very happy and lived for a long time. End of story.



Your task is to:

- create the variables: ahmad, ali, and hammad;



- assign values to the variables. The values must be equal to the numbers of fruit possessed by ahmad, ali  and hammad.



- print the variables on one line by separate each of them with a comma;



- now create a new variable named total_apples equal to addition of the total apples.



- print the value stored in total_apples to the console;

In [3]:
ahmad = 3
ali = 5
hammad = 6

print(ahmad, ali, hammad)

total_apples = ahmad + ali + hammad

print(total_apples)

3 5 6
14

# 2

Miles and kilometers are units of length or distance.

1 mile is equal to approximately 1.61 kilometers, complete the program in the editor so that it converts:



miles to kilometers and

kilometers to miles.



You have to complete this program:

In [ ]:
kilometers = 12.25
miles = 7.38
 
miles_to_kilometers = ###
kilometers_to_miles = ###
 
print(miles, "miles is", miles_to_kilometers, "kilometers")
print(kilometers, "kilometers is", kilometers_to_miles, "miles")

Do not change anything in the existing code. Write your code in the places indicated by ###.

In upper code we have decided 12.25 km and 7.38 miles. You can do conversion completing the program. 

Run the program and see what happens

# 3

In [4]:
#input a float value for variable a here
# input a float value for variable b here
#output the result of addition here
#output the result of subtraction here
#output the result of multiplication here
#output the result of division here
print("\nThat's all, users!")

That's all, users!

Your task is to complete the code in order to evaluate the results of four basic arithmetic operations.

The results have to be printed to the console. Write your code in place of #  according to the given instructions.

In [5]:
a = float(input('Enter a number'))
b = float(input('Enter another number'))
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print("\nThat's all, users!")

Enter a number2
Enter another number2
4.0
0.0
4.0
1.0

That's all, users!

# 4

### Temperature converter

- Write a Python program that converts temperature from Celsius to Fahrenheit. Your program should:


- Prompt the user to input a temperature in Celsius.


- Calculate the equivalent temperature in Fahrenheit using the formula: 𝐹=9/5 × 𝐶 + 32.


- Print the result.



Don't hesitate to use as many brackets in calculation as you want.

In [8]:
cel = int(input('Enter temperature in celsius: '))
fer = 9/5 * cel +32
print('Fahrenheit:', fer)

Enter temperature in celsius: 34
Fahrenheit: 93.2

# 5

Doctor Ahmad needs a program in which patient write his weight and height and program should return BMI value of that patient.

Your strategy should be:



- Ask the user to input their weight in kilograms.


- Ask the user to input their height in meters.


- Calculate the BMI using the formula: 𝐵𝑀𝐼 = 𝑤𝑒𝑖𝑔ℎ𝑡 / ℎ𝑒𝑖𝑔ℎ𝑡**2​.  # (height is squared in formula)


- Output the BMI value to the console.



Using logical statements for inputs and final outputs will give clarity

In [3]:
we = float(input('Enter your weight in KG: '))
ht = float(input('Enter your height in Metre: '))

bmi = we / (ht**2)

print('\nYour BMI is:', bmi)

Enter your weight in KG: 40
Enter your height in Metre: 2

Your BMI is: 10.0

# 6

Write a Python program that prompts the user to input a score and then prints out "you are passed" if the user has scored more marks than 40.



These are known as if statements.


ARE YOU DONE WITH THIS?

Now, update you program, it should be able to deal with other scenario as well. If the user enter numbers less than 40, the program should print out: "You are failed, better luck next time."


These type of conditional statements are known are if else statements



Now gear up for the coming assignments..

In [1]:
sc = int(input('Enter your marks'))

if sc > 40:
    print('you are passed')
else:
    print('You are failed, better luck next time.')

Enter your marks45
you are passed

# 7

Grading system



Write a Python program that prompts the user to input a score and then prints out the corresponding grade according to the following criteria:



- Score >= 90: "A"

- 80 <= Score < 90: "B"

- 70 <= Score < 80: "C"

- 60 <= Score < 70: "D"

- Score < 60: "F"



Add two further conditions in your program such that if user input a string instead on integer score, our program should denote that "string is not valid score, kindly input a integer number next time.". When should you place this statement? Explore that in your compiler. 



- If input is "answer", then output should be: string is not valid score, kindly input a integer number next time.



- If marks are less than 0 or greater than 100 then program should tell the user that "marks are out of range. You score should be in between 0 and 100."



Such statements are known as if else if or else if statements.

In [4]:
score = int(input('Enter your marks: '))

if score >= 90:
    print('A')

elif score < 90 and score >= 80:
    print('B')
    
elif score < 80 and score >= 70:
    print('C')
    
elif score < 70 and score >= 60:
    print('D')

elif score < 60:
    print('F')

Enter your marks: 75
C

# 8

### Largest among Three Numbers:


Write a Python program that asks the user to input three numbers and then prints out the largest among them.

In [8]:
a = int(input('Enter a number: '))
b = int(input('Enter another number: '))
c = int(input('Enter another number: '))

if a > b:
    if a > c:
        print('\na is greater')
    else:
        print('\nc is greater')
elif b < c:
    print('\nc is greater')
else:
    print('\nb is greater')

Enter a number: 9
Enter another number: 11
Enter another number: 4
b is greater

# 9

Swapping values

Write a program that ask user to input two numbers and store the values in x and y. 

Your program should then swap the values such that x will get value of y and y will get value of x. 

Unfortunately you can't create a third variable for this task.



#### sample:

enter a number: 5    (store value in x)

enter another number: 6   (store value in y)

Values swapped!

x = 6

y = 5

This task can take your time. You better understanding take out your notebook and imagine different scenarios. Furthermore you specifically don't need to use conditional statements in this task.

Give time to this assignment and properly understand your code.

In [12]:
x = int(input('Enter a number: '))
y = int(input('Enter another number: '))

x = x + y
y = x - y
x = x - y
print()
print('x =', x)
print('y =', y)

Enter a number: 5
Enter another number: 6

x = 6
y = 5

# 10

### Triangle type checker:



Create a Python program that determines the type of triangle based on its sides. Your program should:

- Prompt the user to input the lengths of three sides of a triangle.

- Use conditional statements to check if the triangle is equilateral, isosceles, or scalene.

- Print the type of triangle.




Equilateral triangle: Three sides are of same length.

Isosceles triangle: Two sides are of same length.

Scalene triangle:  All three sides are of different lengths.



#### You can use as many conditional statements as you want.

In [16]:
# Prompt the user to input the lengths of the three sides
a = float(input("Enter the length of the first side: "))
b = float(input("Enter the length of the second side: "))
c = float(input("Enter the length of the third side: "))
print()
if a == b == c:                       # if all sides are equal
    print("Equilateral triangle")
     
elif a == b or b == c or a == c:      # any two sides are equal
    print("Isosceles triangle")
    
else:
    print("Scalene triangle")

Enter the length of the first side: 4
Enter the length of the second side: 3
Enter the length of the third side: 2

Scalene triangle

# 11

### Tax calculator



In a City name Jabinga in molangala have heavy taxes on monthly income of each of there employee.



There rules are: 

0% tax on income up to $300

10% tax on income from 400 to $700

20% tax on income from 700 to $1000

30% tax on income above $1000

Ten thousand of the total population was assigned just to calculate tax of each individual. Still sometimes few people used to claim that the calculations are wrong.

You need to create a program that takes income as a input from user and display the amount tax that this particular person has to pay.



Let me break down steps for you:



1- User input

2- Tax calculations

3- Output

4- Error handling  (if the user enters wrong input, we should tell him that input is not correct)



It is something interesting. Good luck.



Note: no such state exist in the world.

In [23]:
inc = int(input('Enter income in dollars: '))

if inc <= 300:
    print('No tax')

elif inc > 300 and inc <= 700:
    tax = inc * 0.10              # tax is 10%
    
    print('Tax:', tax, '$')

elif inc > 700 and inc <= 1000:
    tax = inc * 0.20              # tax is 20%
    
    print('Tax:', tax, '$')
    
elif inc > 1000:
    tax = inc * 0.30              # tax is 30%
    
    print('Tax:', tax, '$')

Enter income in dollars: 10000
Tax: 3000.0 $

# 12

### Factors

As a math teacher, you need to write a program for your students in which your student will input a number and program will indicate whether it is a multiple of 2 or 3 or 4 or 5 or 6 or 7 or 8 or 9 or 10.  In short it will give all factors of that number from 1 to 10.

Students can give any number. For that number your program should return all factors from 1 to 10.

For example if the user enters 20, our program should print all numbers that are factor of 20. In this case it will print: 2, 4, 5, 10.

If the user enter 15, our program should print: 3 and 5.

In [28]:
number = int(input('Enter a number: '))

factors = []  # empty list to store data


# conditional statement for each of the number from 2 to 10
# if a number is factor, we are adding that number in list

if number % 2 == 0:
    factors.append(2)
if number % 3 == 0:
    factors.append(3)
if number % 4 == 0:
    factors.append(4)
if number % 5 == 0:
    factors.append(5)
if number % 6 == 0:
    factors.append(6)
if number % 7 == 0:
    factors.append(7)
if number % 8 == 0:
    factors.append(8)
if number % 9 == 0:
    factors.append(9)
if number % 10 == 0:
    factors.append(10)

# printing all the factors.    
print('\nFactors:')
print(factors)

Enter a number: 15

Factors:
[3, 5]

# SECTION 3 FOR LOOPS

# 13

Now we are going to grasp for loop logics from basics in detail.

Starting from very simple,


- Write a code that prints numbers from 1 to 100 using for loop.

- Write a code that prints 'Your name is professional in python' 100 times.      (Replace 'your name' with your actual name)


These will be two different codes.

In [32]:
for i in range(1, 101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [33]:
for i in range(100):
    print('Harman is professional in python!')

Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!
Harman is professional in python!

# 14

Let's get some advanced!


Let say a class in a school contain 20 students. Using for loop, write a code that ask user to enter name of student 20 times. 

Every time user enters a name, you will store that name in a list named 'students'.

#### Note: Create a empty list before entering in the loop body.

Do one more thing: print list in every iteration of loop for better understanding how elements are being added in the list.



To add elements in a list: list.append(element)

In [36]:
sn = []

for i in range(20):
    name = input('\nEnter name of student: ')
    sn.append(name)
    print(sn)

Enter name of student: ali
['ali']

Enter name of student: ali1
['ali', 'ali1']

Enter name of student: ali2
['ali', 'ali1', 'ali2']

Enter name of student: ali3
['ali', 'ali1', 'ali2', 'ali3']

Enter name of student: ali4
['ali', 'ali1', 'ali2', 'ali3', 'ali4']

Enter name of student: ali5
['ali', 'ali1', 'ali2', 'ali3', 'ali4', 'ali5']

Enter name of student: ali6
['ali', 'ali1', 'ali2', 'ali3', 'ali4', 'ali5', 'ali6']

Enter name of student: ali7
['ali', 'ali1', 'ali2', 'ali3', 'ali4', 'ali5', 'ali6', 'ali7']

Enter name of student: ali8
['ali', 'ali1', 'ali2', 'ali3', 'ali4', 'ali5', 'ali6', 'ali7', 'ali8']

Enter name of student: ali9
['ali', 'ali1', 'ali2', 'ali3', 'ali4', 'ali5', 'ali6', 'ali7', 'ali8', 'ali9']

Enter name of student: ali10
['ali', 'ali1', 'ali2', 'ali3', 'ali4', 'ali5', 'ali6', 'ali7', 'ali8', 'ali9', 'ali10']

Enter name of student: ali11
['ali', 'ali1', 'ali2', 'ali3', 'ali4', 'ali5', 'ali6', 'ali7', 'ali8', 'ali9', 'ali10', 'ali11']

Enter name of student: ali12
['ali', 'ali1', 'ali2', 'ali3', 'ali4', 'ali5', 'ali6', 'ali7', 'ali8', 'ali9', 'ali10', 'ali11', 'ali12']

Enter name of student: ali13
['ali', 'ali1', 'ali2', 'ali3', 'ali4', 'ali5', 'ali6', 'ali7', 'ali8', 'ali9', 'ali10', 'ali11', 'ali12', 'ali13']

Enter name of student: ali14
['ali', 'ali1', 'ali2', 'ali3', 'ali4', 'ali5', 'ali6', 'ali7', 'ali8', 'ali9', 'ali10', 'ali11', 'ali12', 'ali13', 'ali14']

Enter name of student: ali15
['ali', 'ali1', 'ali2', 'ali3', 'ali4', 'ali5', 'ali6', 'ali7', 'ali8', 'ali9', 'ali10', 'ali11', 'ali12', 'ali13', 'ali14', 'ali15']

Enter name of student: ali16
['ali', 'ali1', 'ali2', 'ali3', 'ali4', 'ali5', 'ali6', 'ali7', 'ali8', 'ali9', 'ali10', 'ali11', 'ali12', 'ali13', 'ali14', 'ali15', 'ali16']

Enter name of student: ali17
['ali', 'ali1', 'ali2', 'ali3', 'ali4', 'ali5', 'ali6', 'ali7', 'ali8', 'ali9', 'ali10', 'ali11', 'ali12', 'ali13', 'ali14', 'ali15', 'ali16', 'ali17']

Enter name of student: ali18
['ali', 'ali1', 'ali2', 'ali3', 'ali4', 'ali5', 'ali6', 'ali7', 'ali8', 'ali9', 'ali10', 'ali11', 'ali12', 'ali13', 'ali14', 'ali15', 'ali16', 'ali17', 'ali18']

Enter name of student: ali19
['ali', 'ali1', 'ali2', 'ali3', 'ali4', 'ali5', 'ali6', 'ali7', 'ali8', 'ali9', 'ali10', 'ali11', 'ali12', 'ali13', 'ali14', 'ali15', 'ali16', 'ali17', 'ali18', 'ali19']

# 15

Let's calculate average marks of a whole class using loop structure. Let say class consist of 20 students. Your for loop should run 20 times and ask user to enter marks of student. Store all marks in a list.



- Once data of 20 students in entered, you have list containing marks of all 20 students. Calculate average of class by this formula:    Sum of numbers / Total number of students



- Length of list will represent number of students



- You can use built function sum(list) and len(list) to calculate the average value.

In [37]:
tm = []

for i in range(20):
    marks = int(input('Enter marks: '))
    tm.append(marks)

average = sum(tm) / len(tm)

print('Average:', average)

Enter marks: 23
Enter marks: 43
Enter marks: 54
Enter marks: 34
Enter marks: 54
Enter marks: 32
Enter marks: 23
Enter marks: 23
Enter marks: 65
Enter marks: 13
Enter marks: 53
Enter marks: 23
Enter marks: 65
Enter marks: 32
Enter marks: 53
Enter marks: 55
Enter marks: 23
Enter marks: 14
Enter marks: 56
Enter marks: 24
Average: 38.1

# 16

Let's now merge conditional statements and for loops. Your task is to write a program that runs for loop 10 times. Each time it should:



- Take input from user

- Apply if else block to predict whether it is a even number or odd number

- If it is a even number, print 'Number is even!' and if number is odd, print 'Number is odd!'

In [40]:
for i in range(10):
    nu = int(input('\nEnter a number: '))

    if nu % 2 == 0:
        print('Even number')

    else:
        print('Odd number')

Enter a number: 34
Even number

Enter a number: 22
Even number

Enter a number: 54
Even number

Enter a number: 44
Even number

Enter a number: 33
Odd number

Enter a number: 22
Even number

Enter a number: 11
Odd number

Enter a number: 10
Even number

Enter a number: 98
Even number

Enter a number: 45
Odd number

# 17

li = [34, 54, 23, 5, 45, 65]



Your task is to create a for loop that calculate sum of all numbers of this list.

With every iteration of loop, print your your current sum to see what's happening!

In [44]:
li = [34, 54, 23, 5, 45, 65]

total = 0
for i in li:
    total = total + i
    
    print('Current total:', total)
    
print('\nSum of list:', total)

Current total: 34
Current total: 88
Current total: 111
Current total: 116
Current total: 161
Current total: 226

Sum of list: 226

# 18

Multiplication table

Your program should first take input number from user and output table of that number up to 10.

If input number is 3, output should look like: 



3 X 1 = 3

3 X 2 = 6

3 X 3 = 9

3 X 4 = 12

3 X 5 = 15

3 X 6 = 18

3 X 7 = 21

3 X 8 = 24

3 X 9 = 27

3 X 10 = 30

In [46]:
a = int(input('Enter a number:'))
print()
for i in range(1, 11):
    print(a, 'X', i, '=', a*i)

Enter a number:5

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

# 19

### Students info


Create two empty lists: student_name and student_marks.


Write a for loop in which user will give name and marks of students as input and you will store name in student_name list and marks in students_marks list. Enter data for 10 students.


Write another for loop. This for loop will print each student name with their marks in a logical way.


#### Sample output will be:

Ali got 45 marks

Ahmad got 60 marks

Mujtaba got 46 marks

Rehman got 60 marks

Murtaza got 34 marks

Abdullah got 40 marks

Hufaiza got 90 marks

Muneeb got 50 marks

Fahad got 56 marks

Zain got 79 marks

In [50]:
names = []
marks = []

for i in range(10):
    print()
    na = input('Enter name of student: ')
    ma = input('Enter marks of student: ')
    
    names.append(na)
    marks.append(ma)

print()
print()
for i in range(10):
    print(names[i], 'got', marks[i], 'marks')

Enter name of student: ali
Enter marks of student: 21

Enter name of student: ahmad
Enter marks of student: 32

Enter name of student: Zawiyar
Enter marks of student: 43

Enter name of student: Ibrahim
Enter marks of student: 34

Enter name of student: Abdullah
Enter marks of student: 32

Enter name of student: Omar
Enter marks of student: 45

Enter name of student: Mujtaba
Enter marks of student: 35

Enter name of student: Awais
Enter marks of student: 43

Enter name of student: Hurrain
Enter marks of student: 35

Enter name of student: Harman
Enter marks of student: 43


ali got 21 marks
ahmad got 32 marks
Zawiyar got 43 marks
Ibrahim got 34 marks
Abdullah got 32 marks
Omar got 45 marks
Mujtaba got 35 marks
Awais got 43 marks
Hurrain got 35 marks
Harman got 43 marks

# 20

When I was in grade 11, we had to find factorial of a number using paper and pencil.

I was fun for smaller number for larger numbers, it was lengthy and boring and sometimes calculations were wrong. Lets now create a program that will calculate factorial of a given number.



### What is factorial?

Factorial of 3 = 3 X 2 X 1 = 6

Factorial of 4 = 4 X 3 X 2 X 1 = 24



Similarly any number multiplied by all numbers smaller than that number gives factorial value.

For example if number is 5, then 5 will get multiplied by all numbers smaller than 5 i.e. 1,2,3,4



Factorial of 5 = 5 X 4 X 3 X 2 X 1 = 120



Let's make a python code that will just take number as input and print its output.



Let's make this program together!

In [ ]:

product = 1

# initially factorial is 1



fact = ____('Enter a number you want factorial of: ')

# Take proper input from user in integers.



# Initialize a for loop. Range of i should cover all number less than input but it should not include 0  # because 0 is not included in calculation of factorial. if input is 3, range should be: 1, 2, 3. 
# Range should include input itself as well.
# If number is 5, range should be: 1, 2, 3, 4, 5


for i in range(_, fact+_):



# with every iteration, multiply value of product with current value of i and rewrite value of product



    product = product * __





print('Factorial of given number is: ' + str(product))

In [52]:

product = 1

# initially factorial is 1

fact = int(input('Enter a number you want factorial of: '))

# Take proper input from user in integers.



# Initialize a for loop. Range of i should cover all number less than input but it should not include 0  # because 0 is not included in calculation of factorial. if input is 3, range should be: 1, 2, 3. 
# Range should include input itself as well.
# If number is 5, range should be: 1, 2, 3, 4, 5


for i in range(1, fact+1):

# with every iteration, multiply value of product with current value of i and rewrite value of product

    product = product * i


print('Factorial of given number is: ' + str(product))

Enter a number you want factorial of: 4
Factorial of given number is: 24

# 21

### Emergeny - Break statement

break keyword in loops is used to stop the execution. Now we will make a program that will run 100 times. But under certain conditions its execution will stop immediately. Let say you are a doctor. Whenever a patient comes, one of your worker enter disease name of that particular patient.



You want your system to stop taking input once the Heart patient comes. Whenever the disease name is 'heart' then the program should print 'Emergency situation Emergency situation' and no more inputs should be taken.



Write a for loop that will run 100 times. Under the body of loop, take input from user about disease name. Use a if statement to check whether the disease name is 'heart'. if it is,  then print particular statement and break the loop at that point.

In [54]:
for i in range(100):
    dis = input('Enter patient disease: ')
    
    if dis == 'heart':
        print('\nEmergency situation Emergency situation')
        break

Enter patient disease: ad
Enter patient disease: hg
Enter patient disease: adf
Enter patient disease: hsf
Enter patient disease: heart

Emergency situation Emergency situation

# 22

## While loops
Let's start with while loops in python. Starting from making a simple while loop, 

- Write a while loop that print numbers from 1 to 20.

- Write a while that print multiple of 3 from 30 to 90.

- Write a while loop that print your name one hundred times.


Output for third program should look like:

1 - Ali

2 - Ali

3 - Ali


.

.

.

.

100 - Ali

In [55]:
a = 1
while a <= 20:
    print(a)
    
    a = a + 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [56]:
a = 3

while a <= 90:
    print(a)
    
    a = a + 3

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90

In [59]:
a = 1

while a <= 100:
    print(a, '- Harman')
    
    a = a + 1

1 - Harman
2 - Harman
3 - Harman
4 - Harman
5 - Harman
6 - Harman
7 - Harman
8 - Harman
9 - Harman
10 - Harman
11 - Harman
12 - Harman
13 - Harman
14 - Harman
15 - Harman
16 - Harman
17 - Harman
18 - Harman
19 - Harman
20 - Harman
21 - Harman
22 - Harman
23 - Harman
24 - Harman
25 - Harman
26 - Harman
27 - Harman
28 - Harman
29 - Harman
30 - Harman
31 - Harman
32 - Harman
33 - Harman
34 - Harman
35 - Harman
36 - Harman
37 - Harman
38 - Harman
39 - Harman
40 - Harman
41 - Harman
42 - Harman
43 - Harman
44 - Harman
45 - Harman
46 - Harman
47 - Harman
48 - Harman
49 - Harman
50 - Harman
51 - Harman
52 - Harman
53 - Harman
54 - Harman
55 - Harman
56 - Harman
57 - Harman
58 - Harman
59 - Harman
60 - Harman
61 - Harman
62 - Harman
63 - Harman
64 - Harman
65 - Harman
66 - Harman
67 - Harman
68 - Harman
69 - Harman
70 - Harman
71 - Harman
72 - Harman
73 - Harman
74 - Harman
75 - Harman
76 - Harman
77 - Harman
78 - Harman
79 - Harman
80 - Harman
81 - Harman
82 - Harman
83 - Harman
84 - Harman
85 - Harman
86 - Harman
87 - Harman
88 - Harman
89 - Harman
90 - Harman
91 - Harman
92 - Harman
93 - Harman
94 - Harman
95 - Harman
96 - Harman
97 - Harman
98 - Harman
99 - Harman
100 - Harman

# 23

### Guess game - Atomic Bomb

Now let's create a simple guess game using loop.

Every guess game have a particular question and its answer. Our question will be: 

'Which state did first atomic attack on other state?' and answer to this question is 'America'.



Write a while loop that will ask user the question  'Which state did first atomic attack on other state?'  again and again until the user enter 'America'. Once we get the right answer, we will out of while loop.



You will need to create 'answer' variable with empty strings before entering while loop. Apply the condition such that for loop will until answer (variable) is not equal to 'America'.



Within the body of while loop, take input from user and store the value in variable 'answer'

In [2]:
answer = ''

while answer != 'America':
    answer = input('Which state did first atomic attack on other state? ')

Which state did first atomic attack on other state? Britain
Which state did first atomic attack on other state? Egypt
Which state did first atomic attack on other state? Iran
Which state did first atomic attack on other state? Japan
Which state did first atomic attack on other state? China
Which state did first atomic attack on other state? America

# 24

Professor Amjad need a program for his math students. Students are aged  7-13. Professor want to make a program that will ask the student simple multiplication answer and keep asking the question until correct answer is entered. To generate two random numbers, we will use random module. 
import random
a = random.randint(1,10)

These lines can generate  a random number from 1 to 10.

Step by step guide

•	You will write a program which will generate two random numbers. Store your random number in variable 'num1' and 'num2'.  
•	Create a third variab
  
le 'product' equal to product of two random number that we generated previously. 
•	Create variable 'answer' .  This variable will be empty string as we did in previous assignments. 
•	Finally build a while loop that will run until answer is not equal to 'product'. Within the while loop ask your question from the user and store answer in variable 'answer'.

•	Question is: num1 X num2  = ?
(num1 and num2 will be randomly generated numbers.)

You will have to do datatype conversion for this task for the input statement.

In [11]:
import random
num1 = random.randint(1,10)
num2 = random.randint(1,10)
answer = ''

while answer != num1*num2:
    answer = int(input(str(num1) + ' X ' + str(num2) + ' = '))

3 X 4 = 11
3 X 4 = 13
3 X 4 = 15
3 X 4 = 54
3 X 4 = 12

# 25

Let's make previous assignment more practical. Let say professor want us to make a program that ask the student questions number of times. For example it will repeat the assignment number of times. Let say he want us to ask 15 questions from student. 


How can implement this? You can copy the code the paste it again and again and hence the program will ask questions again and again.. Right? 

Well, try not to do this way! Use a for loop to repeat the process 15 times. 

Hint: Make a for loop that will run 15 times and place your whole code within body of that for loop.

In [1]:
import random

for i in range(4):  
    num1 = random.randint(1,10)
    num2 = random.randint(1,10)
    answer = ''

    while answer != num1*num2:
        answer = int(input(str(num1) + ' X ' + str(num2) + ' = '))

8 X 2 = 23
8 X 2 = 23
8 X 2 = 16
2 X 8 = 43
2 X 8 = 64
2 X 8 = 16
3 X 6 = 18
2 X 6 = 12

# 26

There are three seating categories at a stadium. 
Class A seats cost 2000 rupees, 
Class B seats cost 1500 rupees,
Class C seats cost 1000 rupees,

Write a program that asks how many tickets for each class of seats were sold, then displays the income generated from ticket sales. Display amount generated by each class individually and then print total amount of three classes as well

In [3]:
class_a = int(input('How many class A tickets are sold: '))
class_b = int(input('How many class B tickets are sold: '))
class_c = int(input('How many class C tickets are sold: '))

class_a_amount = class_a * 2000
class_b_amount = class_b * 1500
class_c_amount = class_c * 1000

print('')
print('Class A amount generated: ', class_a_amount)
print('Class B amount generated: ', class_b_amount)
print('Class C amount generated: ', class_c_amount)

total_amount = class_a_amount + class_b_amount + class_c_amount

print('')
print('Total amount generated: ', total_amount)

How many class A tickets are sold: 3
How many class B tickets are sold: 3
How many class C tickets are sold: 3

Class A amount generated:  6000
Class B amount generated:  4500
Class C amount generated:  3000

Total amount generated:  13500

# 27

create a function 'profile' with two parameters: name and age. The function should print:

'Murtaza is 35 years old.' (Murtaza and 35 are arguments that we will pass when calling the function)

In [1]:
def profile(--,--):
    print(---)
    
# check the function by calling it

SyntaxError: invalid syntax (3040860088.py, line 1)

In [2]:
def profile(name,age):
    print(name, 'is', age, 'years old')
    
# check the function by calling it
profile('Murtaza', 35)

Murtaza is 35 years old

# 28

Let suppose you have a particular program:

In [4]:
a = input('Write your first name: ')
b = input('Write your last name: ')

print('\nThanks for your cooperation')

Write your first name: harman
Write your last name: waheed

Thanks for your cooperation

You are writting a big program and this part of code repeat again and again. For saving time and instead of writing these three statements again and again, You can convert this into a function

Define a function 'into' with no parameter. And place the upper code in body of the function. Make any changes if needed and check the program

In [5]:
def intro():
    a = input('Write your first name: ')
    b = input('Write your last name: ')

    print('\nThanks for your cooperation')

In [6]:
intro()

Write your first name: harman
Write your last name: waheed

Thanks for your cooperation

# 29

Lets now create a calculate() function which will take two numbers as parameters. These parameters will be 'num1' and 'num2'

This function will print result of addition, subtraction, division and multiplication of those two numbers

In [8]:
def calculate(--, --):
    
    print('Addition of given numbers:', ---)
    print('\nSubtraction of second number from first:', ---)
    print('\nMultiplication:', ---)
    print('\nFirst number divided by second:', ---)

SyntaxError: invalid syntax (2711033948.py, line 1)

In [11]:
def calculate(num1, num2):
    
    print('Addition of given numbers:', num1+num2)
    print('\nSubtraction of second number from first:', num1-num2)
    print('\nMultiplication:', num1*num2)
    print('\nFirst number divided by second:', num1/num2)

In [12]:
calculate(2,2)

Addition of given numbers: 4

Subtraction of second number from first: 0

Multiplication: 4

First number divided by second: 1.0

# 30

We have created a function is 0 exercise. Let say all persons are of age 40. Very few are those who are not 40 for our case.

Make some changes in the function such that, it will automatically read age as 40 always when the program is called.

Also when in some cases we want to change the age, our program should handle those situations by passing the age value as first argument when calling the function

Hint: no hint

In [6]:
def profile(name,age = 40):
    print(name, 'is', age, 'years old')
    
# check the function by calling it
profile('Murtaza')

Murtaza is 40 years old

# 31

In [1]:
def func(a, b, c, d):
    print(a)
    print(b)
    print(c)
    print(d)

Call this function in two ways:

1 - give positional arguments

2 - give named arguments

When giving named argument also try to distort the sequence of parameters, for example give value of b first, then d, then c, then a

In [2]:
# Call function again and again with different arrangements and analyze the outputs

# 32

Debug the code the write a correct version below.

In [3]:
def range(100):
    for i in range(10):
        print()

SyntaxError: invalid syntax (1605744215.py, line 1)

Functionality should be: this function will print all numbers smaller than a given number (number should be parameter and later on we will assign its value when calling the function)

In [4]:
def ran(number):
    for i in range(number):
        print(i)

In [5]:
ran(3)

0
1
2

# 33

When we define the parameters, predefined parameter are always placed on end

Write a function 'players' with two predefined parameters and one other parameter.

-----------Parameters-----------

name

suports = 'cricket'

standard = 'great'

In [ ]:
def ---(---,---,---):
    print()

Update the print statement such that output when calling the function should look like:

Pat cummins is a great cricket player.

note that 'Pat cummins', 'great', 'cricket' are passed arguments.

In [7]:
def player(name, suports='cricket', standard='great'):
    print(name, 'is a', standard, suports, 'player')

In [8]:
player('Pat cummins')

Pat cummins is a great cricket player

# 34

After you are done with assignment 33 function, lets call the function you created there with different techniques.

Which way will you run functions when outputs should be:

1 - Messi is a worst cricket player

2 - Messi is a astonishing football player

3 - Babar azam is a unpredictable cricket player

4 - Akmal shehzad dogar is a strong kabaddi player

5 - Azam khan is a active cricket player

Give arguments when required. You can use named arguments as well positional arguments

# 35

Write a function 'motivate' with only one parameter 'iter_'. We will be able to change its value but by default it should be 10

What function will do: it will print 'I can do it' as many times as specified in the parameter.

In [3]:
def motivate(iter_):
    for i in range(iter_):
        print('I can do it')

In [4]:
motivate(10)

I can do it
I can do it
I can do it
I can do it
I can do it
I can do it
I can do it
I can do it
I can do it
I can do it

# 36

In [9]:
print('--------------')
print('|            |')
print('|            |')
print('|            |')
print('|            |')
print('--------------')

--------------
|            |
|            |
|            |
|            |
--------------

As shown, these statments are used to draw a square.

Instead of of using these 7 lines again and again, lets create a function 'sq' which will output exactly same square when will will call that function

In [10]:
# your code here

# 37

Let's create some simple functions. write a function that will take one number as parameter and print whether the number is even or odd after evaluating this through conditional statements

# 38

Rewrite following functions error free

In [12]:
hello()
def hello(name='Ali Abbas', age= 40, occupation ='Wakeel'):
    print('Ali is a 40 years old wakeel')

NameError: name 'hello' is not defined

In [11]:
def code(age=40, name, occupation):
    print(name, 'is a', age, 'years old', occupation)

SyntaxError: non-default argument follows default argument (341611696.py, line 1)

In [15]:
def movies(name='Lord of rings', part = 3):
    print('Movie', name, 'has' + part, 'parts')

In [16]:
movies()

TypeError: can only concatenate str (not "int") to str

In [19]:
def person(address, contact, name, organization, name)
    print('thanks for data')

SyntaxError: invalid syntax (126353863.py, line 1)

# 39

In [1]:
import random

for i in range(4):  
    num1 = random.randint(1,10)
    num2 = random.randint(1,10)
    answer = ''

    while answer != num1*num2:
        answer = int(input(str(num1) + ' X ' + str(num2) + ' = '))

1 X 5 = 5
3 X 7 = 21
4 X 6 = 24
6 X 5 = 30

Remember this code? This is solution of assignment number 25. See this code and read of instructions if assignment 25. Once you get this code, 

Lets make a function of this code. function name: 'mul'. Parameter: num

In third line the integer within range() will be replaced by num so that it will ask as many questions as you will specify while calling function. Define and call your function to see the results.

In [3]:
def mul(num):
    for i in range(num):  
        num1 = random.randint(1,10)
        num2 = random.randint(1,10)
        answer = ''

        while answer != num1*num2:
            answer = int(input(str(num1) + ' X ' + str(num2) + ' = '))

In [4]:
mul(2)

6 X 6 = 36
10 X 9 = 90

# 40

Write a simple function that will take one number as parameter and print its multiples from 1 to 10 in logical way.

For example if you give number 9, output should looks like:

9 X 1 = 9

9 X 2 = 18

9 X 3 = 27

.

.

.

9 X 10 = 90

# 41

Lets write a menu for school system. Functionality of our program will be: 



- Admit students in school

- Remove students from school

- View all students of school







Furthermore here are some instructions for this project:

- Use list to store data (student names).



- For task 1 use list built-in method to add student in list



- For task  2 use conditional statement to check whether the student is present in school or not. Remove student in he is in school by using list built-in method 'remove()'



- For task 3 use for loop and iterate over the list to to display all students



- For implementation of last point, you need to run program again and again unless user decide to exit. For that enclose whole program in while loop such that it should run again and again. Use conditional statement to check whether user want to exit, then you may use break statement to stop while loop.

In [1]:
list_ = []


def schoolmenu():
    
    while True:
        
        print('=============================Menu===========================')
        print('1 - Addmission of student in school')
        print('2 - Struck student from school')
        print('3 - View all students of school')
        print('4 - Quit from menu\n')
        
        choice = input('Enter your choice: ')
        

        if choice == '1':
            
            print('\n-----Add student-----\n')
            
            name = input('Enter student name: ')
            
            list_.append(name)
            
            print('\nStudent Added!\n')

    
        elif choice == '2':
            
            print('\n-----Remove student-----\n')
            
            name = input('Enter name of student')

            if name not in list_:
                print('No student found')
            
            else:
                list_.remove(name)
                
                print('\nStudent removed!')

        elif choice == '3':
            
            print('\n----------Students in school---------')
            
            for i in list_:
                print(i)
                
        elif choice == '4':
            
            print('=================Good bye===============')
            break

In [2]:
schoolmenu()

=============================Menu===========================
1 - Addmission of student in school
2 - Struck student from school
3 - View all students of school
4 - Quit from menu

Enter your choice: 1

-----Add student-----

Enter student name: Sharmeen

Student Added!

=============================Menu===========================
1 - Addmission of student in school
2 - Struck student from school
3 - View all students of school
4 - Quit from menu

Enter your choice: 3

----------Students in school---------
Sharmeen
=============================Menu===========================
1 - Addmission of student in school
2 - Struck student from school
3 - View all students of school
4 - Quit from menu

Enter your choice: 2

-----Remove student-----

Enter name of studentharman
No student found
=============================Menu===========================
1 - Addmission of student in school
2 - Struck student from school
3 - View all students of school
4 - Quit from menu

Enter your choice: 2

-----Remove student-----

Enter name of studentSharmeen

Student removed!
=============================Menu===========================
1 - Addmission of student in school
2 - Struck student from school
3 - View all students of school
4 - Quit from menu

Enter your choice: 4
=================Good bye===============

# 42

Let's write a program for hospital. It will be a simple python program to handle number of patients and there data.

Our purpose is to

- hold data of patients. We will store name and age of each of patient.

- our hospital can only accommodate 40 patients. So if patients are more than 40, we will indicate that we cannot accommodate this much patients.

- Our hospital do not provide services to old age persons. If there is any patient more than 60 years old, we will not add him in hospital data.

Instructions:

- Take input from user about number of patients, then iterate for loop as many times as there are patients. Each time For loop run, store data of patient name and age in a list and then append that list in a major list that will at the end contain data of all the patients.

- Use conditional structure to check if age is greater than 60. If it is greater, we won't admit that patient in hospital. It means we will not store data of the patient.

- Now print how many more patients we can accommodate in our hospital.

In case user input number of patients as more than 40, you will have to indicate that we cannot accommodate this number, and program should stop further execution.

In [5]:
def a():
    
    a = int(input('How many patients in hospital: '))
    
    if a > 40:
        print('WARNING: we can only accomodate 40 patients')
        return
    
    wh = []
    
    for i in range(a):
        
        data = []
        name = input('\nEnter ' + str(i+1) + ' patient name: ')
        age = int(input('Enter '+ str(i+1) + ' patient age: '))
        
        if age > 60:
            print("\nPatients above 60 aren't provided service in our hospital\n\n")
        else:
            data.append(age)        
            data.append(name)
            wh.append(data)
    
    print('=====================Thanks for prividing this data==============================')
    
    print('\nTotal patients: ', len(wh))
    print('Occomodation available: 40')
    
    if len(wh) > 40:
        print('We cannot accomodate more patients')
    else:
        print('We can accomodate', 40 - len(wh), 'patients.')

In [9]:
a()

How many patients in hospital: 3

Enter 1 patient name: Ali
Enter 1 patient age: 59

Enter 2 patient name: ahmad
Enter 2 patient age: 71

Patients above 60 aren't provided service in our hospital



Enter 3 patient name: Huzaifa
Enter 3 patient age: 65

Patients above 60 aren't provided service in our hospital


=====================Thanks for prividing this data==============================

Total patients:  1
Occomodation available: 40
We can accomodate 39 patients.

# 43

An organization need you to calculates weekly employee payroll for all employees. 

For each employee, ask the user for the employee ID number, the hourly wage rate, and the number of hours worked during a week. 

Each employee is paid 1.5 times their regular hourly rate for all hours over 40. A tax amount of 3.625 percent of salary is deducted.

At the end print total salary of all employees and number of employees.

INSTRUCTIONS:

- Create two variables with value 0 to store total salary and total number of employees so that we can print that data at the end

- Initialize a while loop, take ID, hourly_wage, hours_worked as inputs and do all the computations to calculate net salary of that employee. This while loop should stop running when user enter 0 as employee id

- Also write code to add salary of employee and employee number in  two variable that we created in the first step.

- Once we are out of while loop, program should indicate total salary of all employee and total number of employee.

In [1]:
def employee_payroll():
    total_wages = 0.0
    total_employees = 0

    while True:
        employee_id = int(input("\n\nEnter employee ID number (0 to end): "))
        if employee_id == 0:
            break

        hourly_wage = float(input("Enter hourly wage rate: "))
        hours_worked = float(input("Enter number of hours worked: "))

        # Calculate regular pay
        regular_pay = hourly_wage * min(hours_worked, 40)

        # Calculate overtime pay
        if hours_worked > 40:
            overtime_hours = hours_worked - 40
            overtime_pay = 1.5 * hourly_wage * overtime_hours
        else:
            overtime_pay = 0

        gross_salary = regular_pay + overtime_pay
        
        tax_deduction = gross_salary * 0.03625
        
        net_salary = gross_salary - tax_deduction
        
        print('Net payment for employee ' + str(employee_id) + ': $' + str(net_salary))

        total_wages += net_salary
        total_employees += 1

    if total_employees == 0:
        return 0, 0
    else:
        average_wages = total_wages / total_employees
        return total_wages, average_wages

# 44

Let's write something functional for someone's budget plan

Its functionality should be:

- ask user for his expenses continuously unless user enters 0

- print total expenses 

- print whether the person is in Surplus, Deficit, or Balanced.

Surplus: if monthly income is more than expenses

Deficit: if monthly income is less than expenses

Balanced: if monthly income is equal to expenses


- How will you know the monthly income of person?

### Instructions

- Create a function 'budget' with a parameter 'available' such that parameter will indicate the total budget of a month.

- Write your all code in function and test that.

- At the end it should print: total monthly budget, ramaining balance, status of person (surplus, deficit, or balanced)

In [11]:
def budget(available):
    expen = []
    a = int(input('Enter an expense (0 to quit): '))
    expen.append(a)
    
    while a != 0:
        a = int(input('Enter another expense (0 to quit): '))
        
        expen.append(a)
        
    
    total = sum(expen)
    print('\n\nTotal expense:', total)
    
    rem = available - total
    print('Remaining amount:', rem)
    
    if rem > 0:
        print('Status: Surplus')
    elif rem < 0:
        print('Status: Deficit')
    else:
        print('Status: Balanced')

In [13]:
budget(1000)

Enter an expense (0 to quit): 500
Enter another expense (0 to quit): 200
Enter another expense (0 to quit): 700
Enter another expense (0 to quit): 0


Total expense: 1400
Remaining amount: -400
Status: Deficit

# 45

Creating a menu functional menu for restaurant will be a good practice for your logics now, 

This exercise will only include function and conditional statement. 

Here is some part of code:


#### def res_menu():
####     print('=================MENU===============')
    
####     print('1 - Burger beef - 600')
####     print('2 - Tortilla Wraps - 800')
####     print('3 - Chai Paratha - 200')
####     print('4 - Chai - 150')
####     print('5 - Shake (Mango, banana, date, chiku) - 600')
    
####    menu = [600, 800, 200, 150, 600]
####    choice = int(input('\n\nEnter your option: '))


---

You will continue making this menu to meet these requirements:

- In the last line of upper code, user will enter his choice about what he want to order from the menu, extract prize of that item from the list menu using list indexing.

- Ask user for quantity of item he want to order and then print out total bill

Once done run your code and analyze the outputs.


### After you are done with this, follow these statements
  
As you see in the menu 5th option, there are shake of different flavors. Lets make refine our code such that if user want to order the shakes, we will ask him to enter the flavor as well. 

This will not change the bill for user but this will make our menu more logical and detailed. You can use conditional statements for this implementation.

In [1]:
def res_menu():
    print('=================MENU===============')
    
    print('1 - Burger beef - 600')
    print('2 - Tortilla Wraps - 800')
    print('3 - Chai Paratha - 200')
    print('4 - Chai - 150')
    print('5 - Shake (Mango, banana, date, chiku) - 600')
    
    men = [600, 800, 200, 150, 600]
    
    choice = int(input('\n\nEnter your option: '))
    
    prize = men[choice - 1]
    

    
    if choice == 5:
        print('\n\n1 - Mango')
        print('2 - Banana')
        print('3 - Date')
        print('4 - chiku')
        print('5 - Icecream (chocolate)')
        
        falvour = input('\nEnter you choice of flavor of shake: ')
        
    quan = int(input('Enter quantity: '))
    
    total = prize * quan
    
    print('\n------ Your Total:', total, '-------')

In [4]:
res_menu()

=================MENU===============
1 - Burger beef - 600
2 - Tortilla Wraps - 800
3 - Chai Paratha - 200
4 - Chai - 150
5 - Shake (Mango, banana, date, chiku) - 600


Enter your option: 5


1 - Mango
2 - Banana
3 - Date
4 - chiku
5 - Icecream (chocolate)

Enter you choice of flavor of shake: 5
Enter quantity: 2

------ Your Total: 1200 -------

# 46

Let us refine the code of previous assignment (45)

Previously we were taking only one item in order, but customer may want to make his order of more than one item. For example he may want to order shakes as well chai paratha and maybe more.


Do something such that program will take order from user again and again until user press zero to stop the order. Then represent total bill.

In [27]:
def res_menu():
    overall_prize = 0
    
    while True:
        print('=================MENU===============')

        print('1 - Burger beef - 600')
        print('2 - Tortilla Wraps - 800')
        print('3 - Chai Paratha - 200')
        print('4 - Chai - 150')
        print('5 - Shake (Mango, banana, date, chiku) - 600')

        men = [600, 800, 200, 150, 600]

        choice = int(input('\n\nEnter your option, enter 0 to stop order: '))
        
        if choice == 0:
            break

        prize = men[choice - 1]



        if choice == 5:
            print('\n\n1 - Mango')
            print('2 - Banana')
            print('3 - Date')
            print('4 - chiku')
            print('5 - Icecream (chocolate)')

            falvour = input('\nEnter you choice of flavor of shake: ')

        quan = int(input('Enter quantity: '))
        
        print('\nDONE\n\n')

        total = prize * quan
        
        overall_prize += total
    
    print('\n------ Your Total will be:', overall_prize, '-------')

In [28]:
res_menu()

=================MENU===============
1 - Burger beef - 600
2 - Tortilla Wraps - 800
3 - Chai Paratha - 200
4 - Chai - 150
5 - Shake (Mango, banana, date, chiku) - 600


Enter your option, enter 0 to stop order: 3
Enter quantity: 3

DONE


=================MENU===============
1 - Burger beef - 600
2 - Tortilla Wraps - 800
3 - Chai Paratha - 200
4 - Chai - 150
5 - Shake (Mango, banana, date, chiku) - 600


Enter your option, enter 0 to stop order: 1
Enter quantity: 2

DONE


=================MENU===============
1 - Burger beef - 600
2 - Tortilla Wraps - 800
3 - Chai Paratha - 200
4 - Chai - 150
5 - Shake (Mango, banana, date, chiku) - 600


Enter your option, enter 0 to stop order: 0

------ Your Total will be: 1800 -------

# 47

Money balance for meals

write a function that asks a user the costs of breakfast, lunch, and supper. Print total cost of that day after these inputs. 

After entering data for each day asks the user whether they want to enter data for another day.

At the end:

Print cost of all the breakfast, all the lunch, and all the supper seperately. Also print Total cost of all meals

In [3]:
def meal_costs():
    
    b_total = 0.0
    l_total = 0.0
    s_total = 0.0
    a_total = 0.0

    while True:
        # Ask for meal costs for the day
        b_cost = float(input("\nEnter the cost of breakfast for the day: "))
        l_cost = float(input("Enter the cost of lunch for the day: "))
        s_cost = float(input("Enter the cost of supper for the day: "))
        
        print('Your total for the day was ' + str(b_cost + l_cost + s_cost))

        b_total += b_cost
        l_total += l_cost
        s_total += s_cost
        
        a_total += b_cost + l_cost + s_cost

        # Ask if the user wants to enter data for another day
        another_day = input("\nDo you want to enter data for another day? (yes/no): ").lower()
        if another_day != 'yes':
            break

            
    print('=========================')
    print('')
    print('Breakfast:', b_total)
    print('Lunch:', l_total)
    print('Suppers:', s_total)
    
    print()
    print('All meal cost:', a_total)

# Example usage:
meal_costs()

Enter the cost of breakfast for the day: 43
Enter the cost of lunch for the day: 56
Enter the cost of supper for the day: 43
Your total for the day was 142.0

Do you want to enter data for another day? (yes/no): yes

Enter the cost of breakfast for the day: 34
Enter the cost of lunch for the day: 67
Enter the cost of supper for the day: 43
Your total for the day was 144.0

Do you want to enter data for another day? (yes/no): no
=========================

Breakfast: 77.0
Lunch: 123.0
Suppers: 86.0

All meal cost: 286.0

# 48

Let's plot some graphs. But we didn't covered graphs yet..No worries we will use the logics that we already know to make some graphs. 

#### Our task is to
visualize sales in a market through '*'

#### How
- Let suppose you own 5 shops in a market. Write a program such that user will input sales of those 5 shops of 1 day. You can do this manually but for the sake of practice, use for loop. Store all sales in some variable.



- If sale of a shop is 2500, there will be 25 '**' in the graph. If there will be sale of 800, there will be 8 '*' in the graph.

### This is how output should look like


Enter today's sales for store 1: 1000 [Enter]

Enter today's sales for store 2: 1200 [Enter]

Enter today's sales for store 3: 1800 [Enter]

Enter today's sales for store 4: 800 [Enter]

Enter today's sales for store 5: 1900 [Enter]

SALES BAR CHART

Store 1: **********  (10 sterics)

Store 2: ************  (12 sterics)

Store 3: ******************  (18 sterics)

Store 4: ********   (8 sterics)

Store 5: *******************  (19 sterics)



- If there are 400 worth sales, you can calculate number of '*' by dividing it by 100 -> 400 / 100 = 4

- Then you will be able print 4 'sterics" (for this case) by using: 'steric' * 4

- Store data in proper variable. 

- You will be able to generate these results without using loop structures and that will be fine as well.

In [17]:
def ch():
    
    li = []
    for i in range(5):
        
        a = int(input("Enter today's sales for store " + str(i+1) + ": "))
        li.append(a)
    
    j = 1
    
    print('\n\n===============SALES BAR CHART===============')
    while j <=5:
        
        sale_c = int(li[j-1] / 100)
        print("Sales for store", j, ":", '*' * int(sale_c))
        
        j += 1

In [18]:
ch()

Enter today's sales for store 1: 200
Enter today's sales for store 2: 200
Enter today's sales for store 3: 200
Enter today's sales for store 4: 200
Enter today's sales for store 5: 200


===============SALES BAR CHART===============
Sales for store 1 : **
Sales for store 2 : **
Sales for store 3 : **
Sales for store 4 : **
Sales for store 5 : **

# 49

In this assignment, we will write a program that will take a list of marks of students in accordance with there roll numbers

#### [23, 43] this will indicate that roll number 1 marks are 23 and roll number 2 marks are 43



Marks are out of 50. You will have to make bar charts for each student in list.

- First print all marks of students with roll number using a for loop.

- After that print bar chart of student marks.

In [13]:
def st(li):
    a = 1
    for i in li:
        print('Roll number', a, 'marks:', i)
        
        a += 1
    print('\n\n=====================BAR CHART======================\n')
    b = 1
    for i in li:
        print('Roll number', b, 'marks:', i * '*')
        b += 1

In [16]:
st([46, 25, 37, 49, 12, 31, 23])

Roll number 1 marks: 46
Roll number 2 marks: 25
Roll number 3 marks: 37
Roll number 4 marks: 49
Roll number 5 marks: 12
Roll number 6 marks: 31
Roll number 7 marks: 23


=====================BAR CHART======================

Roll number 1 marks: **********************************************
Roll number 2 marks: *************************
Roll number 3 marks: *************************************
Roll number 4 marks: *************************************************
Roll number 5 marks: ************
Roll number 6 marks: *******************************
Roll number 7 marks: ***********************

# 50

Write a program that lets the user play the game of Rock, Paper, Scissors against the
computer. The program should work as follows.


1. When the program begins, create a list ['rock', 'paper', 'scissor'] and let the computer select one of these randomly.

2. The user enters his or her choice of “rock”, “paper”, or “scissors” at the keyboard. (You can use a menu if you prefer.)

3. The computer’s choice is displayed. 

4. A winner is selected according to the following rules:

• If one player chooses rock and the other player chooses scissors, then rock
wins.


• If one player chooses scissors and the other player chooses paper, then scissors wins. 


• If one player chooses paper and the other player chooses rock, then paper
wins. 

• If both players make the same choice, it is a tie

Use as many conditional statements as you want.

In [19]:
def rps():
    import random
    chi = random.choice(['rock', 'paper', 'scissor'])
    
    user = input('You choice: ')
    
    print(chi)
    print(user)

In [20]:
rps()

You choice: rock
paper
rock